{% if errorMessage and  errorMessage != "" %}
   <div class="alert bg-warning p-2 py-1" style="padding:10px;">
        {{ errorMessage }}
    </div>
    <br>
{% endif %}

{% if successMessage and  successMessage  != "" %}
  <div class="alert bg-success p-2 py-1" style="padding:10px;">
      {{ successMessage  }}
  </div>
  <br>
{% endif %}
